
/* WelcomeMap */

.popupButton {
  font-size: 0.8125rem;
  padding: 8px 16px;
  margin-top: 8px;
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: default;
  transition: background-color 0.3s;
}

.popupButton:hover {
  background-color: #3b82f6;
}

.popupButton:active {
  background-color: #1e40af;
}


/* InputName */

.inputCenterText::placeholder {
  text-align: center;
}
.inputCenterText {
  text-align: center;
}
