.leaflet-control-geosearch form input {
  font-size: 14px;
}


.leaflet-touch .leaflet-geosearch-bar form input {
  height: 36px !important;
}

/* [type='text']:focus {
  border-color: none;
  border: none;
  --tw-ring-color: transparent;
} */

/* .mapbox-improve-map {
  display: none;
} */

/* .mapboxgl-ctrl-bottom-right {
  display: none;
} */

html,
body {
  overscroll-behavior: none;
}

/* .mapboxgl-popup {
  background-color: blue;
  border-radius: 10px;
  font-family: Inter, sans-serif;
} */

.mapboxgl-popup-close-button {
  display: none;
  color: gray;
  /* padding: 8px; */
  font-size: 36px;
  cursor: default;
  border: none;
}

/* .mapboxgl-popup-content !important {
  border-radius: 16px;
} */

.mapboxgl-popup-content div {
  padding: 0px 2px;
}

/* .mapboxgl-popup-content p {
  margin-bottom: 14px;
} */

/* .mapboxgl-popup-tip {
  border-color: red;
  color: blue;
} */
