/* [type='text']:focus {
  border-color: none;
  border: none;
  --tw-ring-color: transparent;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.menu div {
  width: 20px;
  height: 20px;
  position: relative;
}

.menu span {
  background: #777;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s, width 0.3s;
}

.menu .line-1 {
  width: 50%;
  transform: translate(-100%, -8px);
  transform-origin: 0 0;
}

.menu .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(0, 6px);
  transform-origin: 100% 0;
}

.openmenu .line-1 {
  transform: translate(0, 0) rotate(-45deg);
}

.openmenu .line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-3 {
  transform: translate(-100%, 0) rotate(-45deg);
}

body {
  overscroll-behavior: none;
}

.disable-bounce {
  overscroll-behavior: none;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

/* .mapboxgl-popup {
  background-color: blue;
  border-radius: 10px;
  font-family: Inter, sans-serif;
} */

/* .mapboxgl-popup-close-button {
  display: none;
  color: gray;
  padding: 8px;
  font-size: 36px;
  cursor: default;
  border: none;
} */

/* .mapboxgl-popup-content !important {
  border-radius: 16px;
} */

/* .mapboxgl-popup-content div {
  padding: 0px 2px;
} */

/* .mapboxgl-popup-content p {
  margin-bottom: 14px;
} */

/* .mapboxgl-popup-tip {
  border-color: red;
  color: blue;
} */
