.leaflet-control-geosearch form input {
  font-size: 14px;
}


.leaflet-touch .leaflet-geosearch-bar form input {
  height: 36px !important;
}

/* [type='text']:focus {
  border-color: none;
  border: none;
  --tw-ring-color: transparent;
} */

/* .mapbox-improve-map {
  display: none;
} */

/* .mapboxgl-ctrl-bottom-right {
  display: none;
} */

html,
body {
  overscroll-behavior: none;
}

.mapboxgl-popup {
  background-color: gray;
  border-radius: 100px;
  font-family: Inter, sans-serif;
}

.mapboxgl-popup-content {
  color: black;
  padding: 10px;
  border-radius: 100px;
}

.mapboxgl-popup-tip {
  border-color: red;
}
